.container {
    width: 400px;
    height: 600px;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.display {
    height: 25%;
    width: 90%;
    background-image: linear-gradient(45deg,
            rgba(70, 71, 71, 0.25),
            rgba(144, 228, 234, 0.39));

}

.pad {
    height: 70%;
    width: 90%;
    display: flex;
    gap: 5px;
}

.numbers,
.symbols {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.button {

    width: 70px;
    background-color: rgba(205, 184, 184, 0.832);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}